* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 25%;
    height: 550px;
     background-color:black;
      display: flex; 
     flex-direction: column;
     padding: 10px;
     gap: 20px; 
     
}

.up{
    flex: 1;
    /* background-color: aqua; */
    display: flex;
    padding: 15px;
    gap: 10px;
    flex-direction: column;
    border-bottom: 2px solid grey;

}

.cont{
    display: flex;
    /* background-color: red; */
    flex: 1;
    justify-content: space-between;
   align-items: center;
   color: white;

}
.cont h5{
    color: rgb(150, 148, 148);
}

.cont img{
    width: 15px;
}

.middle{
    flex: 1;
    /* background-color: grey; */
    display: flex;
    padding: 15px;
    gap: 10px;
    flex-direction: column;
    border-bottom: 2px solid grey;
}

.down{
    flex: 1;
    /* background-color: green; */
    display: flex;
    padding: 15px;
    gap: 10px;
    flex-direction: column;
        border-bottom: 2px solid grey;

}

.cont-qr{
    display: flex;
    /* background-color: red; */
    flex: 1;
   color: white;
 

}

.qr-image{
      display: flex;
    /* background-color: grey; */
    justify-content: center;
       padding: 10px;
}

.qr-image img{
    width: 15px;
     filter: invert(1);
}

.qr-name{
    display: flex;
    align-items: center;
}